<h1>Home</p>
<a href="{% url 'login' %}">login</a>
<br>
<a href="{% url 'logout' %}">logout</a>
<br>
<h1>Basic Info</h1>
<a href="{% url 'interview:survey' 'profile' %}">profile</a>
<br>
<h1>Transportation</h1>
<a href="{% url 'interview:survey' 'vehicle'  %}">vehicle</a>
<br>
<a href="{% url 'interview:survey' 'flight'  %}">flight</a>
<br>
<a href="{% url 'interview:survey' 'rideshare'  %}">rideshare</a>
<br>
<a href="{% url 'interview:survey' 'transit'  %}">transit</a>
<br>
<a href="{% url 'interview:survey' 'bicycle'  %}">bicycle</a>
<br>
<h1>Residence</h1>
<a href="{% url 'interview:survey' 'residence'  %}">residence</a>
<br>
<a href="{% url 'interview:survey' 'electricity'  %}">electricity</a>
<br>
<a href="{% url 'interview:survey' 'natural_gas'  %}">natural gas</a>
<br>
<a href="{% url 'interview:survey' 'trash'  %}">trash</a>
<br>
<a href="{% url 'interview:survey' 'appliances'  %}">appliances</a>
<br>
<h1>Food</h1>
<br>
<a href="{% url 'interview:survey' 'food'  %}">food</a>
<br>

<br>
<a href="{% url 'interview:results' %}">results</a>
<br>