<h1>Sign In/Out</h1>
<a href="{% url 'login' %}">login</a>
<br>
<a href="{% url 'logout' %}">logout</a>
<br>
<h1>Basic Info</h1>
<a href="{% url 'interview:questions' 'profile' %}">profile</a>
<br>
<h1>Transportation</h1>
<a href="{% url 'interview:questions' 'vehicle'  %}">vehicle</a>
<br>
<a href="{% url 'interview:questions' 'flight'  %}">flight</a>
<br>
<a href="{% url 'interview:questions' 'rideshare'  %}">rideshare</a>
<br>
<a href="{% url 'interview:questions' 'transit'  %}">transit</a>
<br>
<a href="{% url 'interview:questions' 'bicycle'  %}">bicycle</a>
<br>
<h1>Residence</h1>
<a href="{% url 'interview:questions' 'residence'  %}">residence</a>
<br>
<a href="{% url 'interview:questions' 'electricity'  %}">electricity</a>
<br>
<a href="{% url 'interview:questions' 'natural_gas'  %}">natural gas</a>
<br>
<a href="{% url 'interview:questions' 'trash'  %}">trash</a>
<br>
<h1>Food</h1>
<br>
<a href="{% url 'interview:questions' 'food'  %}">food</a>
<br>
<h1>Results</h1>
<br>
<a href="{% url 'interview:total_results' %}">results</a>
<br>
<h1>Strategies</h1>
<br>
<a href="{% url 'interview:strategies' %}">strategies</a>
<br>