{% extends 'base.html' %}

<h1>Residences</h1>
	{{request.user.as_p}}
{% block body %}
{% for residence in number_of_residences %}
	<h2>Residence Information</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ residence.as_p }}
	    <input type="submit" value="Submit Results">
	</form>
	<h2>Appliances</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ appliances.as_p }}
	    <input type="submit" value="Submit Results">
	</form>
	<h2>Natural Gas</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ natural_gas.as_p }}
	    <input type="submit" value="Submit Results">
	</form>
	<h2>Electricity</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ electricity.as_p }}
	    <input type="submit" value="Submit Results">
	</form>
{% endfor %}
{% endblock %}
